.split{
    display: table;
    width: 100%;    
}
.split-item{
    display: table-cell;
    padding: 0px;
}
.split-left{
    height: 100%;
    width: 100%;
    position: relative;
}
.split-right{
    left: 0;
    position: sticky;
}